* {
    margin: 0;
    padding: 0;
}

body {
    
}

header {
    position: relative;
    height: 700px;
    width: 100%;
    background: url(../image/velo.jpg);
    background-size: cover;
    list-style-type: none;
}

.topmenu {
    position: relative;
    text-align: center;
    padding-top: 20px;
}

nav ul {
    margin-top: 10px;
    margin-left: 10%;
    float: left;
}

nav li {
    display: inline;
    color: black;
    margin-left: 25px;
    font-size: 24px;
}
a {
    color: black;
    font-family: 'Baloo Bhai', cursive;
}

.info {
    margin: 170px auto 0;
}

.info h2 {
    font-family: 'Baloo Bhai', cursive;
    color: black;
    font-size: 150%;
    margin-right: 30%;
    text-align: right;
}

.info h3 {
    font-family: 'Baloo Bhai', cursive;
    color: black;
    font-size: 500%;
    margin-right: 30%;
    text-align: right;
}

#aboutme {
    float: left;
    height: auto;
    width: 100%;
    font-family: 'Baloo Bhai', cursive;
    font-size: 150%;
    background-color: #ADD8E6;
}

img {
    border-radius: 15px;
}

myfoto {
    float: right;
    border-radius: 15px;
}

#hobby {
    float: left;
    height: auto;
    width: 100%;
    font-family: 'Baloo Bhai', cursive;
    font-size: 200%;
}

#contact {
    float: left;
    height: auto;
    width: 100%;
    font-family: 'Baloo Bhai', cursive;
    background-color: #ADD8E6;
}

.contact-form input[type="submit"] {
    display: inline-block;
    background: black;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.contact-form input[type="text"] {
    height: 20px;
    width: 20%;
}

.contact-form textarea {
    width: 50%;
    height: 100px;
}

.contact-form input[type="email"] {
    height: 20px;
    width: 20%;
}
form {
    margin-left: 3%;
}
footer {
    float: left;
    height: auto;
    width: 100%;
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    background-color: #AFEEEE;
}

h1 {
    margin-left: 3%;
    font-size: 200%;
    font-family: 'Baloo Bhai', cursive;
}
p {
    margin-left: 5%;
}
#map {
        height: 400px;
        width: 100%;
       }